# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
# .terraform.lock.hcl намеренно НЕ игнорируем — фиксирует версии провайдеров

# Secrets
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# App runtime
*.db
.pytest_cache/
!.env.example
*.swp

# k8s secrets
k8s/secret.yaml
!k8s/secret.yaml.example
