# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
# .terraform.lock.hcl намеренно НЕ игнорируем — фиксирует версии провайдеров

# Secrets
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
