apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: url-shortener
type: Opaque
stringData:
  POSTGRES_PASSWORD: CHANGE_ME
  DATABASE_URL: postgresql://urlshort:CHANGE_ME@postgres:5432/urlshort
